.wrapper {
    width: 100%;
    //ko co bien thi lay 60px
    height: var(--default-layout-header-hight, 60px);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}

.inner {
    width: var(--default-layout-width);
    height: 100%;
}
